[Unit]
Description=Supervisor process control system for UNIX
Documentation=http://supervisord.org
After=network.target

[Service]
# User=peng   # 如果是--user，不能有，否则出错
ExecStart=/usr/bin/supervisord -n -c /home/sucicada/etc/supervisor/supervisord.ini
ExecStop=/usr/bin/supervisorctl $OPTIONS shutdown
ExecReload=/usr/bin/supervisorctl -c /home/sucicada/etc/supervisor/supervisord.ini $OPTIONS reload
KillMode=process
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
