[Unit]
Description = frps
After=network.target
After=network-online.target

[Service]
ExecStart = bash -c "export HOME=/root && $HOME/TOOL/frp/frps -c $HOME/etc/frp/frps.toml "
#ExecReload = /home/peng/TOOL/frp/frpc -c /home/peng/etc/frp/frpc.ini reload
Restart = always
RestartSec=5
Type = simple

[Install]
#WantedBy = multi-user.target
#WantedBy=network-online.target
WantedBy=default.target
