[Unit]
Description = updns
After=network.target
After=network-online.target

[Service]
ExecStart = /home/peng/.cargo/bin/updns -c /home/peng/etc/updns/config
#ExecReload = /home/peng/TOOL/frp/frpc -c /home/peng/etc/frp/frpc.ini reload
Restart = always
RestartSec=5
Type = simple

[Install]
#WantedBy = multi-user.target
#WantedBy=network-online.target
WantedBy=default.target
